/*
 * SPDX-FileCopyrightText: 2022 Hugo Rodrigues
 *
 * SPDX-License-Identifier: MIT
 */

@font-face {
    font-family: 'roboto_slabregular';
    src: url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.eot');
    src: url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('/static/font/robotoslab_regular/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #fcfcfc;
    font-family: 'roboto_slabregular', sans-serif;
    color: #666;
}

#content {
    margin: 60px auto;
    max-width: 680px;
    text-align: center;
}

#avatar {
    border-radius: 100%;
    width: 200px;
}

#headline h1 {
    margin-bottom: 0;
    color: #444;
    font-weight: 500;
}

#headline h3 {
    font-weight: 200;
    margin-bottom: 0;
}

#headline h3 a {
    color: inherit;
}

#social {
    padding-top: 20px;
}

#social a {
    text-decoration: none;
    color: inherit;
}

#social a i {
    font-size: 20px;
}

#messages {
    padding: 15px 0;
}

.blink {
  animation: blinker 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes blinker {
  50% { opacity: 0; }
}
